/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-simple-events-event-info {
    .components-placeholder__fieldset {
        flex-direction: column;
    }
    .components-base-control {
        margin: 0 0 8px;
        text-align: left;
        &:last-of-type {
            margin-bottom: 0;
            .components-base-control__field {
                white-space: nowrap;
            }
            .components-checkbox-control__input-container {
                align-content: center;
                align-items: center;
                display: inline-flex;
                height: 33px;
                position: relative;
                .components-checkbox-control__input {
                    height: 20px;
                    min-width: 20px;
                }
            }
        }
    }
    .components-base-control__label {
        display: block;
    }
}

.se__button-done {
    align-self: flex-start;
    margin-top: 10px;
}

.se-datetime-popover {
    .components-popover__content {
        justify-content: center;
        width: max-content;
        padding: 1em;
        position: relative;
        .components-datetime__date {
            margin-top: 50px;
        }
    }
    .components-datetime__time {
        padding-bottom: 0;
        fieldset {
            margin-bottom: 0;
            legend {
                display: none;
            }
        }
        .components-datetime__time-wrapper .components-datetime__time-field-time {
            align-items: center;
            display: flex;
        }
        .components-datetime__time-field-am-pm {
            white-space: nowrap;
        }
    }
}


/* Date: remove time */

.se-datetime-popover__date {
    fieldset:first-child {
        display: none;
    }
    .components-datetime__time-field-month-select {
        height: 100%;
    }
}


/* Time: remove date */

.se-datetime-popover__time {
    .components-datetime__time {
        fieldset+fieldset {
            margin-top: 10px;
        }
    }
    .components-datetime__timezone {
        display: none;
    }
}


/* Set date/time button */

.se-datetime-popover__set-datetime {
    margin-top: 15px;
    position: absolute;
    top: 100px;
}

.se-datetimegroup-controls-label {
    display: flex;
    font-weight: 700;
    +div {
        margin-top: -4px;
    }
}

.se-datetimegroup-container {
    border-bottom: 1px solid #e2e4e7;
    position: relative;
    padding-top: 8px;
}

.se-datetimegroup-controls {
    display: grid;
    grid-template-columns: auto auto 70px;
    grid-column-gap: 10px;
    margin-top: 8px;
    max-width: 450px;
    .components-dropdown {
        width: 100%;
    }
    .components-base-control:nth-of-type(3) {
        flex: none;
        align-self: flex-end;
        margin-bottom: 10px;
        margin-left: auto;
        .components-checkbox-control__input-container {
            margin-right: 8px;
        }
        label {
            font-weight: normal;
            font-size: 14px;
        }
    }
    .se-datetime-control__delete {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        .components-button {
            min-width: 24px;
            width: 24px;
            height: 24px;
            padding: 0;
        }
    }
    .se-datetime-popover__button {
        width: 100%;
        justify-content: center;
        margin-bottom: 0;
        margin-top: 0;
    }
    .is-button.is-default:not(:disabled) {
        border-color: #7e8993;
        background-color: #fff;
        color: #32373c;
    }
}

.se-datetime-addmore {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.se-location-label {
    max-width: 450px;
    label {
        font-weight: 700;
    }
}

.se-site-timezone-label {
    flex-direction: column;
    font-size: 12px;
    color: rgb(117, 117, 117);
}

.se-event-calendar-export {
    margin-top: 20px;
}

.se-all-day-checkbox .components-flex {
    align-items: center;
}