/**
 * #.# Back compat for Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.se-datepicker-compat {
	.se-datetime-popover__date {
		fieldset:first-child {
			display: block;
		}

		fieldset+fieldset {
			display: none;
		}
	}

	.se-datetime-popover__time {
		.components-datetime__time {
			fieldset:first-child {
				display: none;
			}

			fieldset+fieldset {
				display: block;
			}
		}
	}
}