/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
@import '../common.scss';

#event-timer {
	display: flex;
	justify-content: center;
	margin: 2rem auto;
	max-width: 350px;
	padding: 2rem 0;
	text-align: center;

	@include tablet {
		margin: 3rem auto;
		max-width: 550px;
	}

	@include desktop-medium {
		max-width: 50vw;
	}

	.event-timer__col {
		flex: 1 1 0;
	}
}